@using System.Security.Claims
@using Dvor.Web.App_LocalResources

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Main page</title>
    <link rel="stylesheet" href="~/styles/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,800,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/style.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="main__background">
        <div class="main__wrapper">
            <a href="@Url.Action("Index", "Home")">
                <svg width="378" height="38" viewBox="0 0 378 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.28 30H14.08C23.44 30 29.88 24.68 29.88 16C29.88 7.32 23.44 2 14.08 2H0.28V30ZM9.72 22.64V9.36H13.68C17.64 9.36 20.36 11.72 20.36 16C20.36 20.28 17.64 22.64 13.68 22.64H9.72ZM52.1513 2L45.3113 18.36L38.6313 2H28.4713L40.3113 30H49.5913L61.4313 2H52.1513ZM75.8209 30.64C84.9409 30.64 91.6209 24.48 91.6209 16C91.6209 7.52 84.9409 1.36 75.8209 1.36C66.7009 1.36 60.0209 7.52 60.0209 16C60.0209 24.48 66.7009 30.64 75.8209 30.64ZM75.8209 23C72.3409 23 69.5409 20.36 69.5409 16C69.5409 11.64 72.3409 9 75.8209 9C79.3009 9 82.1009 11.64 82.1009 16C82.1009 20.36 79.3009 23 75.8209 23ZM111.007 30H121.087L115.207 21.36C118.567 19.64 120.487 16.6 120.487 12.56C120.487 6.08 115.527 2 107.727 2H94.2472V30H103.687V22.96H106.247L111.007 30ZM110.967 12.56C110.967 14.6 109.727 15.84 107.127 15.84H103.687V9.28H107.127C109.727 9.28 110.967 10.52 110.967 12.56ZM154.484 19.48C154.484 13.16 150.204 8.8 144.284 8.8C138.364 8.8 134.004 13.24 134.004 19.48C134.004 25.72 138.484 30.2 145.044 30.2C148.364 30.2 151.284 29 153.164 26.76L151.564 24.92C149.964 26.76 147.684 27.68 145.124 27.68C140.524 27.68 137.164 24.76 136.844 20.36H154.444C154.444 20.04 154.484 19.72 154.484 19.48ZM144.284 11.24C148.404 11.24 151.404 14.12 151.764 18.24H136.844C137.204 14.12 140.204 11.24 144.284 11.24ZM173.954 8.96L165.994 26.88L158.114 8.96H155.154L164.474 30H167.394L176.754 8.96H173.954ZM197.728 19.48C197.728 13.16 193.448 8.8 187.528 8.8C181.608 8.8 177.248 13.24 177.248 19.48C177.248 25.72 181.728 30.2 188.288 30.2C191.608 30.2 194.528 29 196.408 26.76L194.808 24.92C193.208 26.76 190.928 27.68 188.368 27.68C183.768 27.68 180.408 24.76 180.088 20.36H197.688C197.688 20.04 197.728 19.72 197.728 19.48ZM187.528 11.24C191.648 11.24 194.648 14.12 195.008 18.24H180.088C180.448 14.12 183.448 11.24 187.528 11.24ZM205.428 13.08V8.96H202.708V30H205.548V19.28C205.548 14.32 208.228 11.52 212.628 11.52C212.828 11.52 213.068 11.56 213.308 11.56V8.8C209.428 8.8 206.748 10.28 205.428 13.08ZM233.429 8.96L225.509 26.84L217.589 8.96H214.629L224.029 29.96L223.109 32C221.909 34.64 220.629 35.52 218.749 35.52C217.229 35.52 215.949 34.96 214.909 33.92L213.589 36.04C214.869 37.32 216.749 37.96 218.709 37.96C221.709 37.96 223.949 36.64 225.709 32.52L236.229 8.96H233.429ZM255.203 0.319998V12.96C253.443 10.24 250.563 8.8 247.203 8.8C241.203 8.8 236.723 13.12 236.723 19.48C236.723 25.84 241.203 30.2 247.203 30.2C250.683 30.2 253.603 28.68 255.323 25.84V30H258.043V0.319998H255.203ZM247.443 27.68C242.963 27.68 239.603 24.4 239.603 19.48C239.603 14.56 242.963 11.28 247.443 11.28C251.883 11.28 255.243 14.56 255.243 19.48C255.243 24.4 251.883 27.68 247.443 27.68ZM272.512 8.8C269.192 8.8 266.072 9.84 263.952 11.64L265.232 13.76C266.952 12.24 269.512 11.28 272.232 11.28C276.152 11.28 278.192 13.24 278.192 16.84V18.12H271.512C265.472 18.12 263.392 20.84 263.392 24.08C263.392 27.72 266.312 30.2 271.072 30.2C274.552 30.2 277.032 28.88 278.312 26.72V30H281.032V16.96C281.032 11.52 277.952 8.8 272.512 8.8ZM271.512 27.96C268.152 27.96 266.192 26.44 266.192 24C266.192 21.84 267.512 20.24 271.592 20.24H278.192V23.68C277.072 26.44 274.712 27.96 271.512 27.96ZM302.435 8.96L294.515 26.84L286.595 8.96H283.635L293.035 29.96L292.115 32C290.915 34.64 289.635 35.52 287.755 35.52C286.235 35.52 284.955 34.96 283.915 33.92L282.595 36.04C283.875 37.32 285.755 37.96 287.715 37.96C290.715 37.96 292.955 36.64 294.715 32.52L305.235 8.96H302.435ZM328.944 8.8C325.584 8.8 322.704 10.24 320.944 12.96V0.319998H318.104V30H320.824V25.84C322.544 28.68 325.464 30.2 328.944 30.2C334.944 30.2 339.424 25.84 339.424 19.48C339.424 13.12 334.944 8.8 328.944 8.8ZM328.744 27.68C324.264 27.68 320.904 24.4 320.904 19.48C320.904 14.56 324.264 11.28 328.744 11.28C333.184 11.28 336.584 14.56 336.584 19.48C336.584 24.4 333.184 27.68 328.744 27.68ZM351.656 8.8C348.336 8.8 345.216 9.84 343.096 11.64L344.376 13.76C346.096 12.24 348.656 11.28 351.376 11.28C355.296 11.28 357.336 13.24 357.336 16.84V18.12H350.656C344.616 18.12 342.536 20.84 342.536 24.08C342.536 27.72 345.456 30.2 350.216 30.2C353.696 30.2 356.176 28.88 357.456 26.72V30H360.176V16.96C360.176 11.52 357.096 8.8 351.656 8.8ZM350.656 27.96C347.296 27.96 345.336 26.44 345.336 24C345.336 21.84 346.656 20.24 350.736 20.24H357.336V23.68C356.216 26.44 353.856 27.96 350.656 27.96ZM369.81 13.08V8.96H367.09V30H369.93V19.28C369.93 14.32 372.61 11.52 377.01 11.52C377.21 11.52 377.45 11.56 377.69 11.56V8.8C373.81 8.8 371.13 10.28 369.81 13.08Z"
                          fill="white" />
                </svg>
            </a>
            <div class="main__content">
                <div class="head">
                    <div class="head-left">
                        <div class="head__item head__item-top">
                            <span>@Resources.Table:</span><span>@(!string.IsNullOrEmpty(Context.Request.Query["tableNumber"]) ? Context.Request.Query["tableNumber"].ToString() : "2T")</span>
                        </div>
                        <div class="head__item head__item-top">
                            <span>@Resources.Date:</span><span>@DateTime.Now.ToShortDateString()</span>
                        </div>
                        <div class="head__item head__item-top">
                            <span>@Resources.Name:</span><span>@(User.Identity.IsAuthenticated ? User.FindFirst(ClaimTypes.Name).Value : "Unauthorized")</span>
                        </div>
                        <div class="head__item head__item-top">
                            @Html.Partial("_SelectLanguageList")
                        </div>
                    </div>
                    <a class="head__right-side" href="@Url.Action("Index", "Account")">
                        <span>@Resources.Profile</span>
                        <svg class="icon" width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.1" width="45" height="44" rx="20" fill="#DFDEDE" />
                            <path d="M22.5 22C21.375 22 20.3906 21.7656 19.4531 21.2031C18.5156 20.6875 17.8125 19.9844 17.2969 19.0469C16.7344 18.1094 16.5 17.125 16.5 16C16.5 14.9219 16.7344 13.9375 17.2969 13C17.8125 12.0625 18.5156 11.3594 19.4531 10.7969C20.3906 10.2812 21.375 10 22.5 10C23.5781 10 24.5625 10.2812 25.5 10.7969C26.4375 11.3594 27.1406 12.0625 27.7031 13C28.2188 13.9375 28.5 14.9219 28.5 16C28.5 17.125 28.2188 18.1094 27.7031 19.0469C27.1406 19.9844 26.4375 20.6875 25.5 21.2031C24.5625 21.7656 23.5781 22 22.5 22ZM26.7188 23.5C27.8438 23.5 28.875 23.7812 29.8594 24.3438C30.7969 24.9062 31.5938 25.7031 32.1562 26.6406C32.7188 27.625 33 28.6562 33 29.7812V31.75C33 32.4062 32.7656 32.9219 32.3438 33.3438C31.875 33.8125 31.3594 34 30.75 34H14.25C13.5938 34 13.0781 33.8125 12.6562 33.3438C12.1875 32.9219 12 32.4062 12 31.75V29.7812C12 28.6562 12.2812 27.625 12.8438 26.6406C13.4062 25.7031 14.1562 24.9062 15.1406 24.3438C16.0781 23.7812 17.1562 23.5 18.2812 23.5H19.0781C20.1562 24.0156 21.2812 24.25 22.5 24.25C23.6719 24.25 24.7969 24.0156 25.9219 23.5H26.7188Z"
                                  fill="#DFDEDE" />
                        </svg>
                    </a>
                </div>
                <div class="head">
                    <div class="head-left">
                        <button class="head__item head__item-bottom js-open-modal" id="call-waiter" data-modal="1">
                            @Resources.CWaiter
                        </button>
                        <a class="head__item head__item-bottom head__item--link" href="@Url.Action("Index", "Basket")">
                            @Resources.Cart
                        </a>
                    </div>
                    <div class="head__right-side js-open-modal" data-modal="2">
                        <span>
                            @Resources.Request
                        </span>
                        <svg class="icon" width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.1" width="45" height="44" rx="20" fill="#DFDEDE" />
                            <g clip-path="url(#clip0)">
                                <path d="M32.554 16.7154L32.2551 16.5418L32.773 15.6391L33.0719 15.8127L33.5898 14.9099C33.7273 14.6705 33.7646 14.3858 33.6933 14.1188C33.6221 13.8518 33.4481 13.6242 33.2099 13.4862L32.6116 13.139C32.3736 13.0006 32.0907 12.9632 31.8252 13.0349C31.5597 13.1066 31.3335 13.2814 31.1961 13.521L30.6782 14.4238L30.9772 14.5974L30.4594 15.5001L30.1603 15.3265L29.6318 16.2501V11.6365H15.8215C14.6779 11.6377 13.7512 12.5698 13.75 13.7199V28.9979C13.7512 30.1481 14.6779 31.0801 15.8215 31.0813H29.6318V21.8058L32.2087 17.3169L32.8067 17.6642L31.7709 19.4696L32.3691 19.8169L33.7501 17.4114L32.554 16.7154ZM32.2674 13.7421L32.8655 14.0893C32.9448 14.1354 33.0028 14.2114 33.0265 14.3004C33.0501 14.3894 33.0376 14.4842 32.9918 14.564L32.8192 14.8648L31.6232 14.1703L31.7959 13.8696C31.8911 13.7034 32.1022 13.6463 32.2674 13.7421ZM31.6367 14.9799L32.175 15.2926L31.6571 16.1952L31.059 15.848L31.5769 14.9453L31.6367 14.9799ZM15.8215 12.3309H28.9413V13.3726H15.4763V14.0671H28.9413V15.1088H15.8215C15.0589 15.1088 14.4405 14.487 14.4405 13.7199C14.4405 12.9528 15.0589 12.3309 15.8215 12.3309ZM28.9413 30.3869H16.1668V17.5394H15.4763V30.3375C14.8684 30.1797 14.4429 29.6293 14.4405 28.9979V15.2685C14.7313 15.5316 15.0906 15.7062 15.4763 15.772V16.8449H16.1668V15.8032H28.9413V17.4529L23.9067 26.223L23.7216 29.3233L26.2987 27.6119L28.9413 23.0086V30.3869ZM24.5807 26.5199L25.7062 27.1733L24.4937 27.9781L24.5807 26.5199ZM26.0867 26.5921L25.7878 26.4185L30.4487 18.2994L29.8506 17.9522L25.1896 26.0712L25.0403 25.9844L24.8907 25.8976L30.4148 16.2752L31.6108 16.9697L26.0867 26.5921Z"
                                      fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect x="13.75" y="11.3143" width="20" height="20.1143" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="main__menu">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal--mini" data-modal="1">
        <!--   Svg иконка для закрытия окна  -->
        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
        </svg>
        <p class="modal__title">Your waiter will come soon</p>
    </div>
    <div class="modal modal--mini" data-modal="2">
        <!--   Svg иконка для закрытия окна  -->
        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
        </svg>
        <p class="modal__title">The complaints book will be in future versions</p>
    </div>
    <!-- Подложка под модальным окном -->
    <div class="overlay js-overlay-modal"></div>
    <script src="~/js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script>
    document.getElementById("call-waiter").addEventListener("click", function() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("CallWaiter", "Home")"
        });
    });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>